node_modules
public
dist
dependencyGraph.json
.env
source/static

.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/

static/css
static/fonts
static/images
static/js
static/patternlab
static/server
static/webpack-report.html

static/admin/bundle.js
static/admin/bundle.js.map

# Local Netlify folder
.netlify