<header class="main-header main-header-sidebar" itemscope id="microdata-org" itemprop="publisher author" itemtype="http://schema.org/Organization" itemref="microdata-org-address microdata-org-social">
    <div class="main-header__logo-nav">
    <div class="logo-main-wrap">
        <meta itemprop="name" content="25SheepStreet" />
        <a href="index.html" class="logo-main" itemprop="url" title="Startseite">
        <img src="/images/logo.svg" alt="Startseite" itemprop="logo" width="230" height="33">
        </a>
    </div>
    <div class="nav-meta-container">
    </div>
    </div>
</header>