<footer class="main-footer">
    <div class="l-main-wrap">

        <div class="main-footer__top">
        <address class="main-footer__address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" id="microdata-org-address">
            <p>
            <a href="tel:00492211234560" title="Unsere Telefon-Nummer" itemprop="telephone" content="00492211234560" class="main-footer__tel">+49 (0)221 12 34 56-0</a><br>
            <a href="javascript:void(0)" title="info@qtrado.de" itemprop="email">info@REPLACE_PROJECTKEY.com</a>
            </p>
            <span itemprop="streetAddress">Hauptstrasse 16</span><br>
            <span itemprop="postalCode">50987</span>&nbsp;
            <span itemprop="addressLocality">Hauptstadt</span><br>
            <span itemprop="addressCountry">Deutschland</span>
        </address>

        <nav class="nav-footer" aria-label="Rechtliches">
            <ul class="nav-footer__list">
            <li class="nav-footer__list__item">
                <a href="javascript:void(0)">Kontakt</a>
            </li>
            <li class="nav-footer__list__item">
                <a href="javascript:void(0)">Impressum</a>
            </li>
            <li class="nav-footer__list__item">
                <a href="javascript:void(0)">Datenschutz</a>
            </li>
            <li class="nav-footer__list__item">
                <a href="/sitemap.html">Sitemap</a>
            </li>
            </ul>
        </nav>
        </div>

        <div class="main-footer__bottom">
        <nav class="nav-social" aria-label="Unsere Profile in sozialen Netzwerken">
            <ul class="nav-social__list" id="microdata-org-social">
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unsere Facebook-Seite" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                </svg>            </a>
            </li>
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unsere Instagram-Seite" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                </svg>            </a>
            </li>
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unser Twitter-Profil" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                </svg>            </a>
            </li>
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unser Youtube-Profil" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
                </svg>            </a>
            </li>
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unser xing-Profil" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xing"></use>
                </svg>            </a>
            </li>
            <li class="nav-social__list__item">
                <a href="javascript:void(0)" title="Unser linkedin-Profil" itemprop="sameAs">
                <svg class="icon " role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
                </svg>            </a>
            </li>
            </ul>
        </nav>
        </div>

    </div>
</footer>