<button type="button" class="nav-toggle nav-sidebar-toggle" id="toggle-sidebar" aria-controls="sidebar" aria-expanded="false" data-component="base.sidebar-toggle">
    <span class="nav-toggle__label">Navigation öffnen/schließen</span>
    <div class="nav-toggle__icon">
      <div class="nav-toggle__icon__middle"></div>
    </div>
  </button>
  <div id="sidebar" class="page-wrap__sidebar" data-component="base.sidebar">
    <div class="page-wrap__sidebar__content" id="sidebar-content">
      <div class="logo-main-wrap">
        <meta itemprop="name" content="25SheepStreet" />
        <a href="index.html" class="logo-main" itemprop="url" title="Startseite">
          <img src="/images/logo-dark.svg" alt="Startseite" itemprop="logo" width="230" height="33">
        </a>
      </div>

      <nav class="nav-sidebar" id="nav-sidebar" aria-label="Hauptnavigation" data-component="base.nav-sidebar">
        <ul class="nav-sidebar__list nav-sidebar__list--level-1">
          <li class="nav-sidebar__item nav-sidebar__item--level-1">
            <a href="javascript:void(0)" class="nav-sidebar__item__link">Getting started</a>
          </li>
          <li class="nav-sidebar__item nav-sidebar__item--level-1" data-component="base.slide-dropdown">
            <details>
              <summary>
                <div class="nav-sidebar__item__link">
                  Konzepte
                  <svg class="icon nav-sidebar__icon" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                  </svg> </div>
              </summary>
              <ul class="nav-sidebar__list nav-sidebar__list--level-2">
                <li class="nav-sidebar__item nav-sidebar__item--level-2">
                  <a href="javascript:void(0)" class="nav-sidebar__item__link">Struktur</a>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2" data-component="base.slide-dropdown">
                  <details>
                    <summary>
                      <div class="nav-sidebar__item__link">
                        Twelve South Lorem ipsum Lorem lorem lorem
                        <svg class="icon nav-sidebar__icon" role="img">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                        </svg> </div>
                    </summary>
                    <ul class="nav-sidebar__list nav-sidebar__list--level-3">
                      <li class="nav-sidebar__item nav-sidebar__item--level-3">
                        <a href="javascript:void(0)" class="nav-sidebar__item__link">3.Navigationsebene</a>
                      </li>
                      <li class="nav-sidebar__item nav-sidebar__item--level-3">
                        <a href="javascript:void(0)" class="nav-sidebar__item__link">QuietComfort 35</a>
                      </li>
                      <li class="nav-sidebar__item nav-sidebar__item--level-3">
                        <a href="javascript:void(0)" class="nav-sidebar__item__link">Twelve South HiRise</a>
                      </li>
                    </ul>
                  </details>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2" data-component="base.slide-dropdown">
                  <details>
                    <summary>
                      <div class="nav-sidebar__item__link">
                        Dropdown
                        <svg class="icon nav-sidebar__icon" role="img">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                        </svg> </div>
                    </summary>
                    <ul class="nav-sidebar__list nav-sidebar__list--level-3">
                      <li class="nav-sidebar__item nav-sidebar__item--level-3">
                        <a href="javascript:void(0)" class="nav-sidebar__item__link">3.Navigationsebene</a>
                      </li>
                      <li class="nav-sidebar__item nav-sidebar__item--level-3 nav-sidebar__item--current">
                        <a href="javascript:void(0)" class="nav-sidebar__item__link">QuietComfort 35 (current)</a>
                      </li>
                      <li class="nav-sidebar__item nav-sidebar__item--level-3" data-component="base.slide-dropdown">
                        <details>
                          <summary>
                            <div class="nav-sidebar__item__link">
                              Dropdown
                              <svg class="icon nav-sidebar__icon" role="img">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                              </svg> </div>
                          </summary>
                          <ul class="nav-sidebar__list nav-sidebar__list--level-4">
                            <li class="nav-sidebar__item nav-sidebar__item--level-4">
                              <a href="javascript:void(0)" class="nav-sidebar__item__link">4.Navigationsebene</a>
                            </li>
                            <li class="nav-sidebar__item nav-sidebar__item--level-4">
                              <a href="javascript:void(0)" class="nav-sidebar__item__link">Native Union Key USB Cable</a>
                            </li>
                            <li class="nav-sidebar__item nav-sidebar__item--level-4">
                              <a href="javascript:void(0)" class="nav-sidebar__item__link">Grind Wireless Headphones</a>
                            </li>
                            <li class="nav-sidebar__item nav-sidebar__item--level-4" data-component="base.slide-dropdown">
                              <details>
                                <summary>
                                  <div class="nav-sidebar__item__link">
                                    Dropdown
                                    <svg class="icon nav-sidebar__icon" role="img">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down"></use>
                                    </svg> </div>
                                </summary>
                                <ul class="nav-sidebar__list nav-sidebar__list--level-5">
                                  <li class="nav-sidebar__item nav-sidebar__item--level-5">
                                    <a href="javascript:void(0)" class="nav-sidebar__item__link">5.Navigationsebene</a>
                                  </li>
                                  <li class="nav-sidebar__item nav-sidebar__item--level-5">
                                    <a href="javascript:void(0)" class="nav-sidebar__item__link">QuietComfort 35</a>
                                  </li>
                                  <li class="nav-sidebar__item nav-sidebar__item--level-5">
                                    <a href="javascript:void(0)" class="nav-sidebar__item__link">Twelve South HiRise</a>
                                  </li>
                                </ul>
                              </details>
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2">
                  <a href="javascript:void(0)" class="nav-sidebar__item__link">hure Motiv MV5 USB Microphone132</a>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2">
                  <a href="javascript:void(0)" class="nav-sidebar__item__link">Native Union Key USB Cable</a>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2">
                  <a href="javascript:void(0)" class="nav-sidebar__item__link">Grind Wireless Headphones</a>
                </li>
                <li class="nav-sidebar__item nav-sidebar__item--level-2">
                  <a href="javascript:void(0)" class="nav-sidebar__item__link">Skull Headphones</a>
                </li>
              </ul>
            </details>
          </li>
          <li class="nav-sidebar__item nav-sidebar__item--level-1">
            <a href="javascript:void(0)" class="nav-sidebar__item__link">Contribute</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>