---
layout: default
title: Just a test page
---
<h1>{{ title }}</h1>

<div class="anchor-target" id="c">
    <div class="l-section">
      <div class="l-main-wrap l-main-wrap--narrow">
        <div class="l-container">
          <header class="content-headline  ">
            <h2> Highlight-Text (Center) </h2>
            <p class="content-headline__subheader">
              Subheader Highlight-Text
            </p>
          </header>
        </div>
        <div class="l-container">
          <div class="highlight-text-wrap highlight-text-wrap--align_center">
            <div class="highlight-text">
              <div class="highlight-text__item">
                <div class="highlight-text__item__text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dignissimos cum perferendis est reprehenderit impedit maiores nulla, expedita ut numquam? Tempore eaque accusantium, ab, mollitia maxime quibusdam numquam officiis illo.</p>
                </div>
                <a href="javascript:void(0)" class="button button--outline">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="textpic textpic--right textpic--intext">
  <div class="gallery" data-columns="1" data-images="1">
    <div class="gallery__row">
      <div class="gallery__column">
<div class="anchor-target" id="c">
  <div class="l-section" style="width:50%">
    <div class="l-main-wrap l-main-wrap--narrow">
      <div class="l-container">
        <div class="slider  content-slider" data-component="base.slider">
          <div class="slider-main" data-slider-arrows="outer">
            <div class="slider__track">
              <div class="slider__slides">
                <div class="slider__slide">
                  <div class="content-slide" data-title="Slider 1">
                    <div class="content-slide__image">
                      <img data-src="/images/dummy/1-1-xs.png" alt="" class="lazyload "> </div>
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Ohne Bild">
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Slider Lorem Ipsum">
                    <div class="content-slide__image">
                      <img data-src="/images/dummy/1-1-xs.png" alt="" class="lazyload "> </div>
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Slider 1">
                    <div class="content-slide__image">
                      <img data-src="/images/dummy/1-1-xs.png" alt="" class="lazyload "> </div>
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Ohne Bild">
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Slider Lorem Ipsum">
                    <div class="content-slide__image">
                      <img data-src="/images/dummy/1-1-xs.png" alt="" class="lazyload "> </div>
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
                <div class="slider__slide">
                  <div class="content-slide" data-title="Slider 1">
                    <div class="content-slide__image">
                      <img data-src="/images/dummy/1-1-xs.png" alt="" class="lazyload "> </div>
                    <div class="content-slide__text">
                      <div class="content-slide__topic">
                        Lorem Ipsum
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia alias labore soluta harum! Illum sequi perferendis ex, quos eos at!</p>
                      <a href="javascript:void(0)" class="button">Button </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider__track">
                <div class="slider__slides slider-nav__slides" data-glide-el="controls[nav]">
                  <button class="slider-nav__slide" data-glide-dir="=0">
                    <div class="content-slide--preview">Slider 1</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=1">
                    <div class="content-slide--preview">Ohne Bild</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=2">
                    <div class="content-slide--preview">Slider Lorem Ipsum</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=3">
                    <div class="content-slide--preview">Slider 1</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=4">
                    <div class="content-slide--preview">Ohne Bild</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=5">
                    <div class="content-slide--preview">Slider Lorem Ipsum</div>
                    <div class="slider__bullet"></div>
                  </button>
                  <button class="slider-nav__slide" data-glide-dir="=6">
                    <div class="content-slide--preview">Slider 1</div>
                    <div class="slider__bullet"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="bodytext">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
      ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
      ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
      accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
    </p>
  </div>
</div>